@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>Movie Searcher</h1>
    <p class="lead">search for a movie using our search engine</p>
    <input type="text" placeholder="Type something..." id="searchInput" value="titanic">
    <button onclick="callAPI()">Search for movie</button>
</div>


<div id="movieResults"></div>

